.App {
  max-width: 70rem;
  margin: 10rem auto;
}

body {
  background: slategray;
}

body::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: navajowhite; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: cadetblue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid beige; /* creates padding around scroll thumb */
}
